# First we need to import pandas library which consists of panda data frame which can be used to store .csv files which help us to analyse and visualise the stocks

In [20]:
import pandas as pd

# We have to install nsepy library or yahoo library  which can be used to fetch Historical data till today or whichever date you want

In [21]:
 pip install nsepy

Requirement already satisfied: nsepy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.8)
Requirement already satisfied: click in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (7.1.2)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (4.5.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (2.23.0)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (4.9.0)
Requirement already satisfied: pandas in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (1.0.3)
Requirement already satisfied: numpy in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (1.18.4)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from nsepy) (1.14.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->nsepy) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->nsepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->nsepy) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->nsepy) (2.9)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->nsepy) (2.0)
Requirement already satisfied: pytz>=2017.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas->nsepy) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from pandas->nsepy) (2.8.1)
Note: you may need to restart the kernel to use updated packages.

# For begineers  I downloaded the historical data of Infosys share which is INFY in NSE and BSE from yahoo finance which is .csv and lets play with that data its not the best method if you are a intraday trader its ok if you are a long term investor to make decisions based on the data...for intraday investor we need to get live market data using nsepy which need to update the data every few seconnds and implement trading strategies based on that which we will discuss later.

## To download historic data of info go to https://finance.yahoo.com/ search infy later in time period select max and download it will be downloaded as NVAX.csv rename it as infy-hs.csv

In [23]:
df=pd.read_csv('data/infy-his.csv')
df.head()

         Date  Open  High   Low  Close  Adj Close  Volume
0  1995-12-05  67.5  85.0  67.5   80.0       80.0    3500
1  1995-12-06  82.5  87.5  82.5   85.0       85.0     300
2  1995-12-07  87.5  90.0  77.5   90.0       90.0     700
3  1995-12-08  92.5  92.5  82.5   82.5       82.5     200
4  1995-12-11  85.0  87.5  85.0   87.5       87.5       0